<!doctype html>
<html>
    <head>
        <base href="/">

        <meta charset="utf-8">

        <title><%= htmlWebpackPlugin.options.meta.title %></title>
        <meta name="description" content="<%= htmlWebpackPlugin.options.meta.description %>">

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,400,700" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css" rel="stylesheet">
    </head>
    <body>
        <beamstats-app></beamstats-app>
    </body>
</html>
